/* All common css start */
*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
ul,ol{
    list-style-type: none;
}
.container{
    width: 1170px;
    margin: 0 auto;
}
/* All common css end */
/* Header Part start  */
#header_part{
    
}
.logo_with_menu{
    display: flex;
}
.logo{
    width: 40%;
    padding-top: 20px;
}
.menu{
    width: 40%;
}
.menu ul{
    display: flex;
}
.menu ul li a{
    padding: 0 15px;
    line-height: 80px;
    font-size: 16px;
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    color: black;
}
.icons{
    padding-top: 30px;
    width: 20%;
}
.icons i{
    margin-left: 10px;
}
/* Header Part end  */